.about {
    &__wrapper {
        margin-top: 50px;  
    }
    &__title {
        text-align: center;
        margin-bottom: 20px;
    }
    &__strong {
        text-align: center;
    }
    &__ul {
        text-align: center;
    }
}