* {
	padding: 0px;
	margin: 0px;
	border: none;
    box-sizing: border-box;
	font-family: 'El Messiri', sans-serif;
	
}
body {
	background: linear-gradient(180deg, rgba(181, 174, 172, 0.8) 0%, rgba(181, 174, 172, 0) 81.98%), #D3C5BC;
}
a, a:link, a:visited  {
    text-decoration: none;
}
a:hover  {
    text-decoration: none;
}
ul, ul li {
	list-style: none;
}
img, svg {
	max-width: 100%;
	height: auto;
}