.myInput {
    width: 528px;
    height: 40px;
    background: #D3C5BC;
    border: 1px solid #818181;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    &:focus {
        outline: none;
    }
}